html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #110d90;
  font-weight: 300;
}

li {
  font-size: 20px;
}

.search {
  width: 60%;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

ul {
  list-style-type: none;
}

#map {
  height: 100%;
  position: relative;
  overflow: hidden;
}